<header class="ae-container-fluid ae-container-fluid--full rk-header ">
    <div class="ae-container-fluid rk-topbar">
        <h1 class="rk-logo">
            <a routerLink="home">utn portfolio<sup>tm</sup></a>
        </h1>
        <nav class="rk-navigation">
            <ul class="rk-menu">
                <li class=" active rk-menu__item">
                    <a routerLink="home" class="rk-menu__link">Home</a>
                </li>
                <li class="rk-menu__item">
                    <a routerLink="nosotros" class="rk-menu__link">Nosotros</a>
                </li>
                <li class="rk-menu__item">
                    <a routerLink="productos" class="rk-menu__link">Productos</a>
                </li>
                <li class="rk-menu__item">
                    <a routerLink="contacto" class="rk-menu__link">Contacto</a>
                </li>
                <li class=" rk-menu__item">
                    <a routerLink="formulario" class="rk-menu__link">Formulario</a>
                </li>
                
            </ul>
            <form class="rk-search">
                <input type="text" placeholder="Search" id="urku-search" class="rk-search-field">
                <label for="urku-search">
                    <svg>
                        <use xlink:href="assets/img/symbols.svg#icon-search"></use>
                    </svg>
                </label>
            </form>
        </nav>
    </div>
</header>